body{
    font-family: 'Jost';
    margin: 50px 300px;
    line-height: 45px;
}
#link-1{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#link-2{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}

#link-3{
    font-size: 20px;
    font-weight: bold;
}